<div class="w-fit h-screen flex items-center justify-center">

  <div class="flex flex-col space-y-3 border-2 border-black px-16 pb-16 rounded-2xl">

    <form class="flex flex-col space-y-3 " [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="flex flex-col items-center justify-center py-5">
        <span class="text-3xl">Register</span>

      </div>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your name">
        <mat-error *ngIf="name?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email">
        <mat-error *ngIf="email?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
          Invalid email format
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="password?.hasError('minlength')">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password">
        <mat-error *ngIf="confirmPassword?.hasError('required')">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="confirmPassword?.hasError('mustMatch')">
          Passwords must match
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" >Register</button>
    </form>

    <span>
      Already have an account?
      <button (click)="navigateToLogin()" class="text-blue-600 underline hover:text-blue-800 focus:outline-none">Login</button>
    </span>

  </div>


</div>
